@model IEnumerable<WEBANNUOCHOA.Models.Product>
@*
@{
    ViewData["Title"] = "Home Page";

} *@
@{
    int numOfQuantity = 1;
}
@* About us *@
<div class="aboutus">
   <div class="container">
       <div class="row py-5 justify-content-around">
           @* 100% chính hãng *@
           <div class="col-md-3 text-center py-3 security">
               <div class="logo my-3">
                    <i class="bi bi-shield-fill-check fs-2 border-dark-subtle rounded-circle"></i>
               </div>
               <p class="fw-bold">100% Chính hãng</p>
               <p class="text-secondary">Cam Kết sản phẩm bán ra từ Three Friends là hàng chính hãng 100%</p>
           </div>
           @* Ưu đãi độc quyền *@
           <div class="col-md-3 text-center py-3 mx-3 gift">
                <div class="logo my-3">
                    <i class="bi bi-gift-fill fs-2 border-dark-subtle rounded-circle" ></i>               
                </div>
                <p class="fw-bold">Ưu đãi độc quyền</p>
                <p class="text-secondary">Three Friends hợp tác thương hiệu và tạo khuyến mại độc quyền cho khách hàng.</p>
            </div>
           @* Giao dịch an toàn uy tín *@
           <div class="col-md-3 text-center py-3 credit_card">
                <div class="logo my-3">
                    <i class="bi bi-credit-card-fill fs-2 border-dark-subtle rounded-circle"    ></i>
                </div>                   
                <p class="fw-bold">Giao dịch an toàn uy tín</p>
                <p class="text-secondary">Mua sắm tại Three Friends: an toàn, thuận tiện, và uy tín.</p>
            </div>
       </div>
   </div>
</div>
@* Giới thiệu *@
<div class="introduce bg-light">
    <div class="container-fluid">
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-md-5">
                    <i class="bi bi-star-fill text-warning"></i>
                    <span class="fw-bold text-warning" style="letter-spacing: 2px;">GIỚI THIỆU</span>
                    <h1 class="fw-bold my-4 title">Mỗi khoảnh khắc đều tỏa sáng cùng hương thơm</h1>
                    <p class="text-secondary fst-italic my-4">Hương thơm là biểu tượng cá nhân, là cảm xúc, và là cách thể hiện phong cách. Chọn nước hoa yêu thích để tạo nên những kỷ niệm đẹp và tỏa sáng mỗi ngày.</p>
                    @* 4 yếu tố quan trọng *@
                    <div class="row">
                        <div class="col-6">
                            @* Nhân viên chuyên nghiệp *@
                            <div class="block__nvchuyennghiep mb-2">
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Nhân viên chuyên nghiệp</span>
                            </div>
                            @* Chăm sóc khách hàng *@
                            <div class="block__nvchuyennghiep">
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Chăm sóc khách hàng</span>
                            </div>
                        </div>
                        <div class="col-6">
                            @* Kỹ năng tư vấn *@
                            <div class="block__nvchuyennghiep mb-2">
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Kỹ năng tư vấn</span>
                            </div>
                            @* Chất lượng sản phẩm *@
                            <div class="block__nvchuyennghiep">
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Chất lượng sản phẩm</span>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-md-5">
                    <img style="height: 500px;border-radius: 20px;" class="img-fluid" src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/414675920_382181794345228_8617616414862460261_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=4jNYYfP_3m0Ab4BkXI4&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfBzQu3xUnMkUQrWYXL9RIRu-PbowAH1Hkri2vyGY-RNiA&oe=6622A538" />
                </div>
            </div>
        </div>
    </div>
</div>
@* Cung cấp dịch vụ *@
<div class="container">
    <div class="row pt-4 text-center">
        <div class="col-md-12">
            <i class="bi bi-star-fill text-warning"></i>
            <span class="fw-bold text-warning" style="letter-spacing: 2px;">DỊCH VỤ ĐA DẠNG</span>
        </div>
        <div class="col-md-12 py-4">
            <h1 class="fw-bold title">Cung cấp dịch vụ chất lượng nhất</h1>
        </div>
    </div>
    <div class="row pb-4 ccdv__4item d-flex m-auto justify-content-around">
        @* Tư Vấn và Lựa Chọn Nước Hoa *@
        <div class="px-4 py-5 add">
            <i class="bi bi-plus-circle-fill fs-2 rounded-circle"></i>
            <h4>Lựa chọn nước hoa</h4>
            <p>Nhân viên có thể tư vấn và hướng dẫn khách hàng trong việc chọn lựa nước hoa phù hợp với phong cách, sở thích và nhu cầu của họ.</p>
        </div>
        @* Kiểm Tra Mẫu Thử *@
        <div class="px-4 py-5 check">
            <i class="bi bi-patch-check-fill fs-2 rounded-circle"></i>
            <h4>Kiểm tra mẫu thử</h4>
            <p>Cung cấp mẫu thử hoặc mẫu nước hoa để khách hàng có thể thử nghiệm trước khi quyết định mua sản phẩm.</p>
        </div>
        @* Phân Loại Nước Hoa *@
        <div class="px-4 py-5 cate">
            <i class="bi bi-tags-fill fs-2 rounded-circle"></i>
            <h4>Phân loại nước hoa</h4>
            <p>Phân loại nước hoa theo các nhóm hương để giúp khách hàng dễ dàng chọn lựa, như hương hoa cỏ, hương gỗ, hương trái cây, hương đặc trưng, và hương ngọt ngào.</p>
        </div>
        @* Hướng Dẫn Sử Dụng *@
        <div class="px-4 py-5 guide">
            <i class="bi bi-bar-chart-steps fs-2 rounded-circle"></i>
            <h4>Hướng dẫn sử dụng</h4>
            <p>Cung cấp hướng dẫn sử dụng và bảo quản sản phẩm nước hoa để đảm bảo khách hàng sử dụng hiệu quả và kéo dài tuổi thọ của sản phẩm.</p>
        </div>
    </div>
</div>
@* Chất lượng *@
<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <i class="bi bi-star-fill text-warning"></i>
            <span class="fw-bold text-warning" style="letter-spacing: 2px;">CHẤT LƯỢNG</span>
        </div>
        <div class="col-md-12 py-4">
            <h1 class="fw-bold title">Sản phẩm nổi bật</h1>
            <div class="row">
                @foreach (var product in Model)
                {
                    @if (product.Category.Name == "Nam")
                    {
                        <div class="col-md-4">
                            <div class="block__card">
                                <a asp-controller="NonProduct" asp-action="Display" asp-route-id="@product.Id" class="item__cart">
                                    <img src="@product.ImageUrl" class="img-fluid d-block m-auto" alt="@Html.DisplayFor(modelItem => product.Name)">
                                </a>

                                <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post" class="item__cart">
                                    <input type="hidden" name="productId" value="@product.Id" />
                                    <input type="hidden" id="quantity" name="quantity" value="1" min="1" />
                                    <button class="btn btn-dark">THÊM VÀO GIỎ HÀNG</button>
                                </form>

                                <div class="card-body card-body--item text-center pt-0 mt-0 pb-2">
                                    <div class="block__star pb-2 text-warning" style="cursor: pointer;">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                    </div>
                                    <a class="text-decoration-none text-dark" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@product.Id" asp-route-quantity="@numOfQuantity">
                                        <h5 class="card-title fw-bold">@Html.DisplayFor(modelItem => product.Name)</h5>
                                    </a>
                                    <div class="d-flex justify-content-center">
                                        <p class="fs-5 mb-1 fw-bold text-warning">@product.Price.ToString("#,##0") VNĐ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    



                }
            </div>
            
        </div>
    </div>
</div>



