@model WEBANNUOCHOA.Models.Product
@{
    ViewData["Title"] = "Display";
}

<div class="chitiet__sanpham my-5 py-5">
    <div class="container">
        <div class="row offset-1 pb-5">
            <div class="col-md-5 text-center">
                <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Hình ảnh sản phẩm" class="img-fluid" style="height: 500px; border-radius: 20px;" />
            </div>
            <div class="col-md-5">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
                <div class="block__star pb-3 mb-2 text-warning border-bottom border-2" style="cursor: pointer;">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                
                @* Giá *@                
                <p class="fs-4 text-warning fw-bold">@Html.DisplayFor(model => model.Price)</p>
                
                <p class="text-secondary">Sản phẩm còn hàng</p>

                @* Chọn số lượng - Nút thêm giỏ hàng *@
                <div>                  
                    <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                        <div class="d-flex">
                            <h5 style="line-height:60px;" class="me-3 fw-bold">Chọn số lượng</h5>
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <input type="number" id="quantity" name="quantity" value="0" min="0" class="text-center py-3" style="width: 60px;border-radius:10px;border: 1px solid #ccc;outline:none;" />
                        </div>
                        @* Nút đặt mua hàng *@
                        <div class="mt-5">
                            <button class="btn py-3 px-4 btn-warning text-light" type="submit" style="border-radius: 30px;">Thêm vào giỏ hàng</button>
                        </div> 
                    </form>
                </div>

                @* Danh mục *@
                <div class="d-flex mt-4">
                    <h5 class="fw-bold me-2">Danh mục: </h5>
                    </a><h5>@Html.DisplayFor(model => model.Category.Name)</h5>
                </div>
                
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-10 offset-1">
                <div class="motasanpham border-1 border-secondary border-bottom">
                    <h3 class="mb-0 d-inline-block" style="border-top-left-radius: 15px; border-top-right-radius:15px; background-color: #e5c18e;padding: 10px 15px 7px 15px;">Mô tả</h3>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-10 offset-1 fs-5 text-secondary">
                <p>Lorem ipsum dolor sit amet sectetur adipiscin elit cras feuiat antesed ces condimentum viverra duis autue nim convallis id diam vitae duis egety dictum erosin dictum sem. Vivamus sed molestie sapien aliquam et facilisis arcu dut molestie augue suspendisse sodales tortor nunced quis cto ligula posuere cursus keuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecated cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum ivamus sed molestie sapien.</p>
                <p>Aliquam et facilisis arcuut olestie augue. Suspendisse sodales tortor nunc quis auctor ligula posuere cursus duis aute irure dolor in reprehenderit in voluptate velit esse cill doloreeu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum. Vivaus sed delly molestie sapien. Aliquam et facilisis arcuut molestie augue.</p>
            </div>
        </div>
    </div>
</div>


@* <div>
    <h4>Product</h4>
    <hr />
    
    <div class="container">
        <section class="py-5">
            <div class="container">
                <div class="row gx-5">
                    <aside class="col-lg-6">
                        <div class="mb-3 d-flex justify-content-center">
                            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="@Html.DisplayFor(model => model.ImageUrl)">
                                <img style="max-width: 230px; max-height: 300px; margin: auto;" class="rounded-4 fit" src="@Html.DisplayFor(model => model.ImageUrl)" />
                            </a>
                        </div>
                    </aside>
                    <main class="col-lg-6">
                        <div class="ps-lg-3">
                            <h4 class="title text-dark">
                                @Html.DisplayFor(model => model.Name)
                            </h4>
                            
                            <div class="mb-3">
                                <div class="row">
                                    <dt class="col-3">Price:</dt>
                                    <dd class="col-9">@Html.DisplayFor(model => model.Price)</dd>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <dt class="col-3">Description:</dt>
                                    <dd class="col-9">@Html.DisplayFor(model => model.Description)</dd>
                                </div>
                            </div>



                            <div class="row">
                                <dt class="col-3">Category:</dt>
                                <dd class="col-9">@Html.DisplayFor(model => model.Category.Name)</dd>
                            </div>

                            <hr />

                            <!--Số lượng thêm vào giỏ hàng-->
                            
                            <div class="row mb-4">
                                <div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block">Quantity</label>
                                    <div class="input-group mb-3" style="width: 170px;">
                                        <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                            <i class="fa fa-minus"></i>
                                            </button>
                                        <input type="number" class="form-control text-center border border-secondary" placeholder="1" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                        <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div> 

                            <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <input type="number" id="quantity" name="quantity" value="0" min="0" />
                                <button class="btn btn-info" type="submit">
                                    Add to cart
                                </button>
                            </form> 
                        </div>
                    </main>
                </div>
            </div>
        </section>
    </div>
</div> *@
@* <div>
    <a asp-action="Index"><button class="btn btn-primary">Back to List</button></a>
</div> *@
